*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 2;
    font-size: 20px;
}

@font-face {
    font-family: 'KdamThmorPro-Regular';
    src: url('../fonts/KdamThmorPro-Regular.ttf') format('truetype');   
}

@font-face {
    font-family: 'OpenSans-Italic-VariableFont_wdth,wght';
    src: url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');   
}

@font-face {
    font-family: 'Montserrat-VariableFont_wght';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}


.App{
    padding-left: 8vw;
    padding-right: 8vw;
    font-family: 'Montserrat-VariableFont_wght';
}

.home, .detail-body, .contact-body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.link1{
    font-family: 'OpenSans-Italic-VariableFont_wdth,wght';
    font-weight: bold;
}

.link1 a {
    font-size: 35px;
}


.Navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.Navbar a {
    text-decoration: none;
    color: rgb(11, 108, 137);
}

.link2 a{
    font-size: 20px;
}
